<style>
  @import 'base.css';
  :host {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 2rem;
    /* display: inline-grid; */
    /* background: purple; */
  }
  [property="sharedContent"] a {
    text-decoration: none;
  }
  article {
    padding: 1rem;
    border-top: .2rem solid;
    border-left: .2rem solid;
    margin: 1rem 0 3rem 2rem;
    display: grid;
    /* grid-template-columns: 100%; */
    /* overflow: auto; */
    /* grid-template-columns: [left] 100px [right] minmax(0, 1fr) [end];
    grid-template-rows: [top] auto [bottom] auto [end]; */
    grid-column-gap: 1.2rem;
    grid-row-gap: .4rem;
    width: calc(100vw - 8rem);
  }
  button {
    text-decoration: underline;
    padding: .4rem 0;
  }
</style>

<p-if not="deleted">
  <template>
    <article
      data-attr-arialabelid="aria-labelledby"
      typeof="SocialMediaPosting">
      <div>
        <p-if condition="by">
          <template>
            <span property="author">
              <span class="visually-hidden">By</span>
              <slot name="by"></slot>
            </span>
          </template>
        </p-if>
        <p-if condition="score">
          <template>
            <span
              property="interactionStatistic"
              typeof="InteractionCounter">
              /
              <span property="userInteractionCount">
                <slot name="score"></slot>
              </span>
              <span property="interactionType" value="LikeAction">
                points
              </span>
            </span>
          </template>
        </p-if>
        <p-if condition="permalink">
          <template>
            <span>
              /
              <a data-attr-permalink="href">
                Permalink
              </a>
            </span>
          </template>
        </p-if>
      </div>
      <p-if condition="url">
        <template>
          <div
            property="sharedContent"
            typeof="Article">
            <a data-attr-url="href">
              <h2
                data-attr-arialabelid="id"
                property="headline">
                <slot name="title"></slot>
              </h2>
            </a>
          </div>
        </template>
      </p-if>
      <p-if condition="text">
        <template>
          <div property="articleBody">
            <slot name="text"></slot>
          </div>
        </template>
      </p-if>
      <p-if condition="topcommentid">
        <template>
          <div>
            <button data-attr-firsttoggled="aria-expanded" data-attr-commentarialabelid="aria-controls" onclick="this.getRootNode().host.toggleFirst(event)">
              <p-if condition="firsttoggled">
                <template>
                  <span>
                    Hide
                  </span>
                </template>
              </p-if>
              <p-if not="firsttoggled">
                <template>
                  <span>
                    Show
                  </span>
                </template>
              </p-if>
              Comments
            </button>
            <p-if condition="firsttoggled">
              <template>
                <div data-attr-commentarialabelid="id">
                  <x-hn-card data-attr-topcommentid="id"></x-hn-card>
                  <p-if condition="morecomments">
                    <template>
                      <div>
                        <button data-attr-alltoggled="aria-pressed" onclick="this.getRootNode().host.toggleAll(event)">
                          Toggle All
                        </button>
                        <p-if condition="alltoggled">
                          <template>
                            <p-for-each in="allcomments">
                              <template>
                                <x-hn-card></x-hn-card>
                              </template>
                            </p-for-each>
                          </template>
                        </p-if>
                      </div>
                    <template>
                  </p-if>
                </div> 
              </template>
            </p-if>
          </div>
        </template>
      </p-if>
    </article>
  </template>
</p-if>